{% extends 'wrapper.html' %}

{% from 'macros.html' import render_field %}


{% block header %}
  <h1>{% block title %}Sign Up{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <dl>
      {{ render_field(form.username, placeholder='Username', required=True) }}
      {{ render_field(form.password, placeholder='Password', required=True) }}
      {{ render_field(form.confirm, placeholder='Repeat password', required=True) }}
    </dl>
    {{ form.submit(class='btn btn-primary') }}
  </form>
{% endblock %}
