{% for task in tasks %}
  <div class="card mt-1 task-card">
    <div class="card-body">
      <div class="task-content ml-1">{{ task['content'] }}</div>
      <form class="form-inline my-2 my-lg-0 form-done" action="{{ url_for('task.done', id_=task['id']) }}" method="post">
        <button type="submit" class="badge badge-pill badge-primary">&#10004;</button>
      </form>

      {% if task['tstamp'] %}
        <form class="form-inline my-2 my-lg-0 form-done" action="{{ url_for('task.rmts', id_=task['id']) }}" method="post">
          <button type="submit" class="badge badge-dark">{{ task['tstamp'] | todt }}</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endfor %}
