{% extends 'wrapper.html' %}

{% block header %}
  <h1>{% block title %}Add Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" class="mb-5">
    <div class="form-group">
      <label for="task">Task:</label>
      <textarea class="form-control" id="task" name="task" rows="1"
        placeholder="Try writing date or time to schedule task"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Add</button>
  </form>

  <div class="tasks-container mb-3">
    {% include 'includes/tasks_list.html' %}
  </div>
{% endblock %}